// If you edit this file you need to compile the theme. See README.md for details.
// Global variable overrides. Must be declared before importing Valo.
// Defines the plaintext font size, weight and family. Font size affects general component sizing.

$v-app-loading-text: "pandAC";

$v-font-size: 13px;
$v-font-weight: 500;
$v-font-family: "Lora","Open Sans", sans-serif;
$v-app-background-color: #000000;

$v-background-color: #000000;

//$v-focus-color: #004DA7;
$v-focus-color: #A8004C;
$v-focus-style: 0 0 0 1px $v-focus-color;
$valo-menu-background-color: darken($v-focus-color, 10%);
$v-border: 0 solid v-shade;
$v-border-radius: 5px;
$v-bevel: false;
$v-gradient: true;
$v-shadow: true;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-textfield-border: 1px solid v-shade;
$v-link-text-decoration: none;
$v-overlay-shadow: 0 0 0 1px #000;
$v-overlay-border-width: 1px; // For IE8
$v-window-shadow: $v-overlay-shadow;
$v-selection-overlay-background-color: #FFFFFF;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 3px;
//$v-panel-border: 1px solid v-shade;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

//----------> Extra Variables
$font-white: #000000;
$font-light: #fff;
$bg-deep-blue: #393769;
 
@import "../valo/valo.scss";

@mixin mainTheme{
    @include valo;
    // Insert your own theme rules here
    
    .panel-friendly .v-panel-caption{
        background: #56697B;
        border: 1px solid #56697B;
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
    }

    .panel-friendly .v-panel-content{
        background: $v-background-color;
        color: $font-white;
        border-image: linear-gradient(to left, #31a7e5 0%, #1de0c8 100%);
        border-image-slice: 1;
        border-width: 1px;
    }
    
    .v-accordion-item-caption > .v-caption{
        color: $font-light
    }
    
    .v-accordion{
        background: $bg-deep-blue;
        background-color: $bg-deep-blue
    }
}
